<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <style>
            body{
                padding-top: 100px;
            }
        </style>
    </head>
    <body class="container">
        <h1>Login</h1>
        <form class="jumbotron" action="/login" method="POST">
        <input name="username" type="text" /><br />
        <input name="password" type="password" /><br />
        <input type="submit" value="Login" />
        </form>
        <% if(message) { %>
            <p>
              <label style="color:Red"><%= message %></label>
            </p>
        <%}%>
        <p>
            <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
        </p>
    </body>
</html>